/*import the font family*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/*app variables, mobile first*/
:root {
  /*colors from the design system*/
  /*white*/
  --color-white: #ffffff;

  /*black*/
  --color-black: #000000;

  /*grey*/
  --color-grey-950: #1d2026;
  --color-grey-500: #69707d;
  --color-grey-300: #c3cad9;
  --color-grey-100: #e4e9f2;
  --color-grey-50: #f6f8fd;

  /*orange*/
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  /*typography from the design system*/
  --font-family: "Kumbh Sans", sans-serif;

  /*text preset 1 - Kumbh Sans Bold*/
  --text-preset-1-font-size: 44px;
  --text-preset-1-font-weight: 700;
  --text-preset-1-line-height: 48px;

  /*text preset 2 - Kumbh Sans Bold*/
  --text-preset-2-font-size: 28px;
  --text-preset-2-font-weight: 700;
  --text-preset-2-line-height: 32px;

  /*text preset 3 - Kumbh Sans Bold/Regular*/
  --text-preset-3-font-size: 16px;
  --text-preset-3-bold-font-weight: 700;
  --text-preset-3-regular-font-weight: 500;
  --text-preset-3-line-height: 26px;

  /*text preset 4 - Kumbh Sans Regular*/
  --text-preset-4-font-size: 15px;
  --text-preset-4-line-height: 26px;

  /*text preset 5 - Kumbh Sans Bold*/
  --text-preset-5-font-size: 13px;
  --text-preset-5-font-weight: 700;
  --text-preset-5-line-height: 16px;
  --text-preset-5-letter-spacing: 2px;

  /*text preset 6 - Kumbh Sans Bold*/
  --text-preset-6-font-size: 12px;
  --text-preset-6-font-weight: 700;
  --text-preset-6-line-height: 15px;
  --text-preset-6-letter-spacing: 1.85px;

  /*spacings from the design system*/
  --spacing-0: 0;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
  --spacing-1600: 128px;

  /*element sizes - mobile first - elements from the design system*/
  /*container widths are static for all mobile screens*/
  --main-width: 37.5rem;
  --header-width: 32.75rem;
  --logo-width: 16.95rem;
  --cart-and-profile-width: 6.8rem;
  --product-details-width: 32.7rem;
  --price-and-discount-width: 16.6rem;
  --submit-button-content-container-width: 11.946rem;

  --product-image-height: 30rem;
  --product-image-width: 37.5rem;

  /*responsive element sizes for all screens*/
  --open-menu-button-width: clamp(1.6rem, 4.26vw, 3.33rem);
  --open-menu-button-height: clamp(1.5rem, 3.99vw, 4.06rem);

  --application-logo-width: clamp(13.75rem, 33.66vw, 28.125rem);
  --application-avatar-width: clamp(2.4rem, 6.4vw, 5rem);

  --cart-button-width: clamp(2.182rem, 5.81vw, 4.54rem);
  --cart-item-count-width: clamp(1.9rem, 5.06vw, 3.95rem);
  --cart-item-count-height: clamp(1.3rem, 3.46vw, 2.7rem);

  --discount-badge-width: clamp(5.1rem, 13.6, 10.62rem);

  --quantity-button-size: clamp(1.2rem, 3.2vw, 2.5rem);

  /*quantity submit button*/
  --cart-icon-width: clamp(1.746rem, 4.65vw, 3.63rem);
  --cart-icon-height: clamp(1.6rem, 4.26vw, 3.32rem);

  /*border radius from design system*/
  --radius-75: 6px;
  --radius-100: 8px;
  --radius-125: 10px;
  --radius-187-5: 15px;

  /*aside menu - mobile and tablet*/
  --aside-menu-width: 25rem;
  --aside-menu-padding: var(--spacing-300);

  /*cart modal*/
  --cart-modal-width: 36rem;
  --cart-modal-height: 25.6rem;
  --cart-header-width: 33.6rem;
  --cart-item-width: 30.9rem;
  --cart-checkout-submit-button-width: 31.2rem;
  --cart-item-image-size: 5rem;
  --empty-cart-message-height: 9.9rem;

  /*lightbox modal*/
  --lightbox-modal-width: clamp(55rem, 38.19vw, 97.7rem);
  --lightbox-modal-height: clamp(72.2rem, 50.13vw, 128.3rem);
  --lightbox-image-size: clamp(55rem, 38.19vw, 97.7rem);
  --lightbox-close-button-size: clamp(2rem, 1.39vw, 3.6rem);

  /*image navigation*/
  /*mobile container width*/
  --navigation-arrows-container-width: 91.46%;
  --navigation-arrow-button-size: clamp(4rem, 10.66vw, 9.9rem);
  --navigation-arrow-width: clamp(0.57rem, 1.51vw, 1.4rem);
  --navigation-arrow-height: clamp(1.14rem, 3.03vw, 2.84rem);

  /*thumbnails list - only on desktop and desktop lightbox*/
  --thumbnails-list-width: clamp(44.8rem, 31.1vw, 79.62rem);
  --product-thumbnail-image-size: clamp(8.8rem, 6.11vw, 15.64rem);
}

/*default styles*/
html {
  /*1rem = 10px*/
  font-size: 62.5%;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;

  /*one col flex on mobile and tablet*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);

  /*default font family*/
  font-family: var(--font-family);

  background-color: var(--color-white);
}

/*fit images*/
img {
  object-fit: contain;

  width: 100%;
  height: auto;

  border-radius: inherit;
}

/*reset list*/
ul {
  list-style: none;
}

/*reset button*/
button {
  background: none;

  border: none;

  cursor: pointer;
}

/*no default text decoration on anchors*/
a {
  text-decoration: none;
}

/*no divider on mobile*/
hr {
  display: none;
  border: none;
}

/*Application Header/////////////////////////////////////////////*/
.application-header {
  /*on mobile width is 327.5px*/
  width: var(--header-width);

  /*one row flex on mobile - logo and card-and-profile*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*center horizontally*/
  margin: 0 auto;

  /*give it some space*/
  margin-top: var(--spacing-300);
}

.logo {
  /*on mobile width is 169.5px*/
  width: var(--logo-width);

  /*contains open menu button and application-logo-container - 1 row flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-100);
}

.open-menu-button {
  width: var(--open-menu-button-width);
  height: var(--open-menu-button-height);

  /*svg icon*/
  mask: url(./images/icon-menu.svg);
  -webkit-mask: url(./images/icon-menu.svg);
  mask-repeat: no-repeat;
  mask-position: center;

  background-color: var(--color-grey-500);
}

.application-logo-container {
  width: var(--application-logo-width);
}

.cart-and-profile {
  width: var(--cart-and-profile-width);

  /*1 row flex - contains cart button and application avatar container*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-button {
  /*to place the cart prodcut quantity*/
  position: relative;

  width: var(--cart-button-width);
}

.cart-product-quantity {
  /*position the container accordingly to the design system*/
  position: absolute;
  top: -40%;
  right: -50%;

  width: var(--cart-item-count-width);
  height: var(--cart-item-count-height);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 12px;

  border-radius: 999px;

  background-color: var(--color-orange-500);
}

.application-avatar-container {
  width: var(--application-avatar-width);
}

.application-avatar {
  border: 1px solid transparent;
  border-radius: 999px;
}

/*do not display the header navigation inside the header on mobile devices and tablets*/
.header-navigation {
  display: none;
}

.navigation-item a {
  position: relative;
}

.navigation-item a:hover,
.navigation-item a:active {
  color: var(--color-grey-950);
}

/*highlight divider*/
.navigation-item a:hover::after,
.navigation-item a:active::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);

  width: 5.5rem;
  height: 0.4rem;

  background-color: var(--color-orange-500);
}
/*/////////////////////////////////////////////////////////////*/

/*Main Content of the Application ///////////////////////////*/
main {
  /*size*/
  width: var(--main-width);

  /*on mobile one col flex*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);

  /*center*/
  margin: 0 auto;
}

/*Product Images Section ///////////////////////////////////////*/
.product-images {
  /*position relative to place buttons*/
  position: relative;
}

.images-list {
  position: relative;
  overflow: hidden;
}

.images-list--showcase {
  /*size*/
  height: var(--product-image-height);
}

.product-image-container {
  position: absolute;
  top: 0;
}

.product-image {
  /*size*/
  width: var(--product-image-width);
  height: var(--product-image-height);

  object-fit: cover;
}

.desktop-product-showcase {
  /*displays only on the desktop*/
  display: none;
}

/*////////////////////////////////////////////////////////////*/

/*Product Details Article ////////////////////////////////////*/
.product-details {
  /*size*/
  width: var(--product-details-width);

  /*One col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*gap 32px on mobile*/
  gap: var(--spacing-400);

  /*horizontally center*/
  margin: 0 auto;
}

.product-info {
  /*1 col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.product-info header {
  /*1 col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.price-section {
  /*1row flex space between*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-and-discount {
  width: var(--price-and-discount-width);

  /*1row flex space between*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-badge {
  width: var(--discount-badge-width);

  /*center the child p*/
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--spacing-100);

  border-radius: var(--radius-75);

  background-color: black;
}

.add-to-cart-form {
  /*one col flex*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.quantity-selector {
  position: relative;

  /*padding 16px on mobile*/
  padding: var(--spacing-200);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-button {
  width: var(--quantity-button-size);
  height: var(--quantity-button-size);

  background-color: var(--color-orange-500);
}

.quantity-button:hover,
.quantity-button :active {
  background-color: var(--color-orange-300);
}

.quantity-button--minus {
  mask: url(./images/icon-minus.svg);
  -webkit-mask: url(./images/icon-minus.svg);

  mask-repeat: no-repeat;
  mask-position: center;
}

.quantity-button--plus {
  mask: url(./images/icon-plus.svg);
  -webkit-mask: url(./images/icon-plus.svg);

  mask-repeat: no-repeat;
  mask-position: center;
}

.submit-button {
  /*center the content*/
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-125);

  /*16px 56px padding*/
  padding: var(--spacing-200) var(--spacing-700);

  /*mobile bottom gap*/
  margin-bottom: var(--spacing-300);

  background-color: var(--color-orange-500);
}

.submit-button:hover {
  background-color: var(--color-orange-300);
}

.sumbit-button-content-container {
  width: var(--submit-button-content-container-width);

  /*1 row flex*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-button-icon {
  width: var(--cart-icon-width);
  height: var(--cart-icon-height);

  mask: url(./images/icon-cart.svg);
  -webkit-mask: url(./images/icon-cart.svg);
  mask-repeat: no-repeat;
  mask-position: center;

  background-color: var(--color-grey-950);
}

/*/////////////////////////////////////////////////////////////*/

/*aside menu and the background filter - on mobile and tablets //////////////////////////*/
.aside-menu {
  /*fixed on the left side of the screen*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;

  /*size - width animated using css variables*/
  width: 0;
  height: 100%;

  /*contains close menu button and navigation*/
  display: flex;
  flex-direction: column;
  /*56px gap on mobile*/
  gap: var(--spacing-700);

  /*24px padding on mobile - padding animated using css variables*/
  padding: 0;

  overflow: hidden;

  background-color: var(--color-white);

  transition: all 0.6s ease-out;
}

.close-menu-button {
  /*size*/
  width: 1.34rem;
}

.navigation {
  /*size*/
  width: 9.4rem;
}

.navigation-list {
  /*1 col flex*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);
}

.background-filter {
  /*behind the modal, in front of the app*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;

  width: 100%;
  height: 0;

  opacity: 0;

  background-color: var(--color-black);

  transition: all 0.8s ease-out;
}

/*/////////////////////////////////////////////////////////////*/

/*cart modal //////////////////////////////////////////////////*/
.cart-modal {
  /*most top*/
  z-index: 100;
  transform: translateY(9rem);

  /*size - mobile first*/
  width: var(--cart-modal-width);
  height: var(--cart-modal-height);

  /*horizontally center on mobile*/
  margin: 0 auto;

  /*vertically 24px padding on mobile*/
  padding: var(--spacing-300) 0;

  /*no default border*/
  border: none;
  border-radius: var(--radius-125);
}

.cart-header {
  /*width 336px on mobile*/
  width: var(--cart-header-width);

  /*center*/
  margin: 0 auto;

  /*24px margin bottom on mobile*/
  margin-bottom: var(--spacing-300);
}

.cart-divider {
  display: flex;

  width: 100%;

  border: 1px solid var(--color-grey-100);
}

.empty-cart-message {
  height: var(--empty-cart-message-height);

  display: flex;
  justify-content: center;
  align-items: end;
}

.cart-checkout-form {
  /*1 col flex*/
  display: flex;
  flex-direction: column;
  /*horizontally center items*/
  align-items: center;
  /*24px gap on mobile*/
  gap: var(--spacing-300);

  /*24px padding top on mobile*/
  padding-top: var(--spacing-300);
}

.cart-item {
  /*width 309px on mobile*/
  width: var(--cart-item-width);

  display: flex;
  justify-content: space-between;
}

.cart-item-details {
  /*1 row flex*/
  display: flex;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.cart-item-image {
  width: var(--cart-item-image-size);

  display: flex;
}

.delete-cart-item-button {
  width: 1.4rem;
}

.cart-item-text-group {
  /*1 col flex*/
  display: flex;
  flex-direction: column;
}

.cart-item-price-container {
  /*1 row flex*/
  display: flex;
  gap: var(--spacing-100);
}

.cart-checkout-submit-button {
  /*width 312px on mobile*/
  width: var(--cart-checkout-submit-button-width);

  /*padding 104px 16px on mobile*/
  padding: var(--spacing-200) var(--spacing-1300);

  border-radius: var(--radius-125);

  background-color: var(--color-orange-500);
}

/*////////////////////////////////////////////////////////////*/

/*lightbox ////////////////////////////////////////////////////*/
.lightbox-modal {
  /*center*/
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 40;
  transform: translate(-50%, -50%);

  /*size*/
  width: var(--lightbox-modal-width);
  height: var(--lightbox-modal-height);

  display: flex;

  border: none;

  background-color: transparent;
}

.lightbox-container {
  /*to place the navigation arrows*/
  position: relative;

  /*1 col flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*close button*/
  align-items: end;
  /*40px gap on desktop*/
  gap: var(--spacing-500);
}

.lightbox-main-image {
  /*to place the navigation arrows*/
  position: relative;

  /*size*/
  width: var(--lightbox-image-size);
  height: var(--lightbox-image-size);

  /*15px border radius on desktop*/
  border-radius: var(--radius-187-5);
}

.close-lightbox-button {
  /*size*/
  height: var(--lightbox-close-button-size);
  width: var(--lightbox-close-button-size);

  /*close icon*/
  mask: url(./images/icon-close.svg);
  -webkit-mask: url(./images/icon-close.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  background-color: var(--color-white);
}

.close-lightbox-button:hover {
  background-color: var(--color-orange-500);
}

/*////////////////////////////////////////////////////////////*/

/*navigation arrows //////////////////////////////////////////*/
.navigation-arrows {
  /*position absolute*/
  position: absolute;
  /*center*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  /*width 343px on mobile, 606px on the desktop*/
  width: var(--navigation-arrows-container-width);

  /*1 row flex space between*/
  display: flex;
  justify-content: space-between;
}

/*button*/
.navigation-arrows-button {
  width: var(--navigation-arrow-button-size);
  height: var(--navigation-arrow-button-size);

  /*center the icon*/
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-white);

  border-radius: 999px;
}
/*//////////////////////////////////////////////////////////////*/

/*icon span*/
.navigation-arrows-button-icon {
  /*size*/
  width: var(--navigation-arrow-width);
  height: var(--navigation-arrow-height);

  border-radius: inherit;

  background-color: var(--color-grey-950);
}

.navigation-arrows-button-icon--previous {
  /*previous icon*/
  mask: url(./images/icon-previous.svg);
  -webkit-mask: url(./images/icon-previous.svg);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.navigation-arrows-button-icon--next {
  /*next icon*/
  mask: url(./images/icon-next.svg);
  -webkit-mask: url(./images/icon-next.svg);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.navigation-arrows-button:hover .navigation-arrows-button-icon {
  background-color: var(--color-orange-500);
}

/*thumbnails list ////////////////////////////////////////////*/
.thumbnails-list {
  /*size*/
  width: var(--thumbnails-list-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*40px gap on desktop*/
  gap: var(--spacing-400);

  /*center*/
  margin: 0 auto;
}

.product-thumbnail-button {
  width: var(--product-thumbnail-image-size);
  height: var(--product-thumbnail-image-size);

  display: flex;

  border: 2px solid transparent;
  border-radius: var(--radius-125);
}

.product-thumbnail-button img {
  border-radius: var(--radius-100);
}

.product-thumbnail-button:hover img {
  opacity: 50%;
}

/*///////////////////////////////////////////////////////////*/

/*typography ////////////////////////////////////////////////*/
/*text preset 3 - Kumbh Sans Bold*/
.discount-badge p,
.price-section del,
.quantity-label,
.sumbit-button-content-container p,
.navigation-item a,
.cart-header h2,
.empty-cart-message p,
.cart-item-text-group h4,
.cart-item-unit-price,
.cart-item-total-price,
.cart-checkout-submit-button {
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-bold-font-weight);
  line-height: var(--text-preset-3-line-height);
  color: var(--color-grey-950);
}

.discount-badge p {
  color: var(--color-white);
}

/*original deprecated price*/
.price-section del {
  color: var(--color-grey-500);
  text-decoration: line-through;
}

.empty-cart-message p {
  text-align: center;
  color: var(--color-grey-500);
}

.cart-item-text-group h4,
.cart-item-unit-price {
  /*text preset 3 - Kumbh Sans Regular*/
  font-weight: var(--text-preset-3-regular-font-weight);
  color: var(--color-grey-500);
}

/*text preset 2 - Kumbh Sans☺ Bold*/
.product-title,
.discounted-price {
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  color: var(--color-grey-950);
}

/*text preset 4 - Kumbh Sans Regular*/
.product-description,
.cart-product-quantity p {
  font-size: var(--text-preset-4-font-size);
  line-height: var(--text-preset-4-line-height);
  color: var(--color-grey-500);
}

/*text preset 6 - Kumbh Sans Bold*/
.company-name {
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-6-font-weight);
  letter-spacing: var(--text-preset-6-letter-spacing);
  line-height: var(--text-preset-6-line-height);
  color: var(--color-grey-500);
}

.cart-product-quantity p {
  color: var(--color-white);
}

/*/////////////////////////////////////////////////////////////*/

/*media queries ///////////////////////////////////////////////*/
@media (min-width: 768px) {
  :root {
    /*update mobile static values with clamp for different tablet sizes*/
    --main-width: clamp(60.8rem, 79.16vw, 81.06rem);
    --header-width: clamp(60.8rem, 79.16vw, 81.06rem);

    --logo-width: clamp(17.05rem, 22.2vw, 22.73rem);
    --cart-and-profile-width: clamp(11.98rem, 15.6vw, 15.97rem);

    --product-details-width: clamp(60.8rem, 79.16vw, 81.06rem);
    --price-and-discount-width: clamp(17.3rem, 22.52vw, 23.06rem);
    --submit-button-content-container-width: clamp(12.08rem, 15.73vw, 16.17rem);

    --product-image-height: clamp(29rem, 37.7vw, 38.66rem);
    --product-image-width: clamp(60.8rem, 79.16vw, 81.06rem);

    --aside-menu-width: clamp(30.1rem, 39.39vw, 40.13rem);
    /*80px 48px padding on tablets*/
    --aside-menu-padding: var(--spacing-600) var(--spacing-1000);

    /*update cart sizes to responsive values for vairous tablet screens*/
    --cart-modal-width: clamp(36rem, 46.875vw, 48rem);
    --cart-modal-height: clamp(25.6rem, 33.33vw, 34.13rem);
    --cart-header-width: clamp(33.6rem, 43.75vw, 44.8rem);
    --cart-item-width: clamp(30.9rem, 40.23vw, 41.2rem);
    --cart-checkout-submit-button-width: clamp(31.2rem, 40.625vw, 41.6rem);
    --cart-item-image-size: clamp(5rem, 0.65vw, 6.66rem);
    --empty-cart-message-height: clamp(9rem, 11.71vw, 12rem);
    /*cart responsive horizontal position*/
    --cart-modal-left: clamp(40rem, 52.08vw, 75rem);

    /*tablet navigation arrows container width*/
    --navigation-arrows-container-width: 95.88%;
  }

  body {
    /*increase to gap to 32px*/
    gap: var(--spacing-400);
  }

  main {
    /*48px gap between the divider and the main on tablets. 32px gap from body flex - 16px margin top*/
    margin-top: var(--spacing-200);
  }

  hr {
    width: var(--main-width);

    display: flex;
    border: 1px solid var(--color-grey-100);

    margin: 0 auto;
  }

  .product-details,
  .product-info,
  .product-info header,
  .logo {
    /*24px gap on tablets*/
    gap: var(--spacing-300);
  }

  /*update to text preset 5 from text preset 6*/
  .company-name {
    /*text preset 5 - Kumbh Sans Bold*/
    font-size: var(--text-preset-5-font-size);
    font-weight: var(--text-preset-5-font-weight);
    letter-spacing: var(--text-preset-5-letter-spacing);
    line-height: var(--text-preset-5-line-height);
  }

  /*update to text preset 1 from text preset 2*/
  .product-title {
    /*text preset 1 - Kumbh Sans Bold*/
    font-size: var(--text-preset-1-font-size);
    font-weight: var(--text-preset-1-font-weight);
    line-height: var(--text-preset-1-line-height);
  }

  /*update to text preset 3 regular from text preset 4*/
  .product-description {
    /*text preset 3 - Kumbh Sans Regular*/
    font-size: var(--text-preset-3-font-size);
    line-height: var(--text-preset-3-line-height);
  }

  .price-section {
    /*flex direction column on mobile */
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .add-to-cart-form {
    /*flex direction row on tablets*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*8px gap on mobile*/
    gap: var(--spacing-100);
  }

  .quantity-selector {
    /*quantity selector size*/
    width: clamp(29.8rem, 38.8vw, 39.73rem);
  }

  .submit-button {
    /*submit button size*/
    width: clamp(30.155rem, 39.26vw, 40.2rem);

    /*remove margin bottom*/
    margin-bottom: var(--spacing-0);
  }

  .cart-modal {
    transform: translate(var(--cart-modal-left), 9rem);
    /*reset margin - no longer positioned at the center*/
    margin: 0;
  }
}

@media (min-width: 1440px) {
  :root {
    /*update the responsive variables for the desktop design*/
    --header-width: clamp(110rem, 77.08vw, 197.3rem);
    --logo-width: clamp(58.95rem, 40.93vw, 104.8rem);
    --cart-and-profile-width: clamp(11.8rem, 8.19vw, 20.97rem);

    --main-width: clamp(110rem, 77.08vw, 197.3rem);
    --product-details-width: clamp(44.5rem, 30.9vw, 79.11rem);

    --cart-modal-left: clamp(90rem, 62.5vw, 256rem);

    /*desktop lightbox navigation arrows container width*/
    --navigation-arrows-container-width: clamp(60.6rem, 42.08vw, 107.7rem);
  }

  .application-header {
    /*increase the space*/
    margin-top: var(--spacing-600);
  }

  /*hide open menu button*/
  .open-menu-button {
    display: none;
  }

  .header-navigation {
    /*header navigation size*/
    width: clamp(39.6rem, 27.5vw, 69.86rem);

    /*display the header navigation*/
    display: flex;
  }

  .navigation-list {
    width: 100%;

    display: flex;
    /*row flex direction on desktop*/
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*from text preset 3*/
  .navigation-item a {
    /*text preset 4 - Kumbh Sans Regular*/
    font-size: var(--text-preset-4-font-size);
    line-height: var(--text-preset-4-line-height);
    color: var(--color-grey-500);
  }

  main {
    /*96px gap between the divider and the main on desktop. 32px gap from body flex - 64px margin top*/
    margin-top: var(--spacing-800);

    /*flex direction row on desktop*/
    flex-direction: row;
    align-items: center;
    /*128px gap on desktops*/
    gap: var(--spacing-1600);
  }

  .product-images {
    /*stop displaying it for the desktop*/
    display: none;
  }

  .desktop-product-showcase {
    /*size*/
    width: clamp(44.8rem, 31.11vw, 79.64rem);

    /*1 col flex*/
    display: flex;
    flex-direction: column;
    /*32px gap on desktop*/
    gap: var(--spacing-400);
  }

  .desktop-product-image {
    /*size*/
    width: clamp(44.8rem, 31.11vw, 79.64rem);
    height: clamp(44.5rem, 30.9vw, 79.11rem);

    border-radius: var(--radius-187-5);

    cursor: pointer;
  }

  .product-details {
    /*size*/
    width: clamp(44.5rem, 30.9vw, 79.11rem);
    height: clamp(43.2rem, 30vw, 76.8rem);
  }

  .product-info {
    /*32px gap on desktop between the header and the description*/
    gap: var(--spacing-400);
  }

  .aside-menu {
    /*stop displaying on the desktop*/
    display: none;
  }

  .cart-modal {
    /*update the vertical position and use the updated responsive variable*/
    transform: translate(var(--cart-modal-left), 12rem);
  }
}

/*//////////////////////////////////////////////////////////////*/

/*utility classes ///////////////////////////////////////////////*/
.hidden {
  display: none;
}

.invisible-input {
  position: absolute;
  left: 0;
  top: 0;

  /*hide move out the flow*/
  height: 0;
  width: 0;

  opacity: 0;
}

.background-filter--open {
  height: 100%;

  opacity: 50%;
}

.product-image-container--prev {
  /*left side of the screen - invisible*/
  left: -200%;
}

.product-image-container--curr {
  /*visible - full screen width - center*/
  left: 50%;
  transform: translateX(-50%);
}

.product-image-container--next {
  /*right side of the screen - invisible*/
  left: 200%;
}

.aside-menu--open {
  width: var(--aside-menu-width);
  padding: var(--aside-menu-padding);
}

.application-avatar-active {
  border-color: var(--color-orange-500);
}

.product-thumbnail-button--active {
  border-color: var(--color-orange-500);
}

.product-thumbnail-image--active {
  opacity: 25%;
}

/*/////////////////////////////////////////////////////////////*/
