/*import the font family*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/*app variables*/
:root {
  /*colors from the design system*/
  /*white*/
  --color-white: #ffffff;

  /*black*/
  --color-black: #000000;

  /*grey*/
  --color-grey-950: #1d2026;
  --color-grey-500: #69707d;
  --color-grey-300: #c3cad9;
  --color-grey-100: #e4e9f2;
  --color-grey-50: #f6f8fd;

  /*orange*/
  --color-orange-500: #ff7e1b;
  --color-orange-300: #ffab6a;

  /*typography from the design system*/
  --font-family: "Kumbh Sans", sans-serif;

  /*text preset 1 - Kumbh Sans Bold*/
  --text-preset-1-font-size: 44px;
  --text-preset-1-font-weight: 700;
  --text-preset-1-line-height: 48px;

  /*text preset 2 - Kumbh Sans Bold*/
  --text-preset-2-font-size: 28px;
  --text-preset-2-font-weight: 700;
  --text-preset-2-line-height: 32px;

  /*text preset 3 - Kumbh Sans Bold/Regular*/
  --text-preset-3-font-size: 16px;
  --text-preset-3-bold-font-weight: 700;
  --text-preset-3-line-height: 26px;

  /*text preset 4 - Kumbh Sans Regular*/
  --text-preset-4-font-size: 15px;
  --text-preset-4-line-height: 26px;

  /*text preset 5 - Kumbh Sans Bold*/
  --text-preset-5-font-size: 13px;
  --text-preset-5-font-weight: 700;
  --text-preset-5-line-height: 16px;
  --text-preset-5-letter-spacing: 2px;

  /*text preset 6 - Kumbh Sans Bold*/
  --text-preset-6-font-size: 12px;
  --text-preset-6-font-weight: 700;
  --text-preset-6-line-height: 15px;
  --text-preset-6-letter-spacing: 1.85px;

  /*spacings from the design system*/
  --spacing-0: 0;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1300: 104px;
  --spacing-1600: 128px;

  /*element sizes - mobile first - elements from the design system*/
  /*container widths are static for all mobile screens*/
  --main-max-width: 37.5rem;
  --header-max-width: 32.75rem;
  --logo-max-width: 16.95rem;
  --cart-and-profile-max-width: 6.8rem;
  --navigation-arrows-container-max-width: 34.3rem;
  --product-details-max-width: 32.7rem;
  --price-and-discount-max-width: 16.6rem;
  --submit-button-content-container-max-width: 11.946rem;

  --product-image-height: 30rem;
  --product-image-width: 37.5rem;

  /*responsive element sizes for all screens*/
  --open-menu-button-width: clamp(1.6rem, 4.26vw, 3.33rem);
  --application-logo-width: clamp(13.75rem, 33.66vw, 28.125rem);
  --cart-button-width: clamp(2.182rem, 5.81vw, 4.54rem);
  --application-avatar-width: clamp(2.4rem, 6.4vw, 5rem);
  --navigation-arrow-size: clamp(4rem, 10.66vw, 8.33rem);
  --discount-badge-width: clamp(5.1rem, 13.6, 10.62rem);
  --quantity-button-width: clamp(1.2rem, 3.2vw, 2.5rem);
  --cart-icon-width: clamp(1.746rem, 4.65vw, 3.63rem);

  /*border radius from design system*/
  --radius-75: 6px;
  --radius-125: 10px;
  --radius-187-5: 15px;

  /*aside menu - mobile and tablet*/
  --aside-menu-width: 25rem;
  --aside-menu-padding: var(--spacing-300);
}

/*default styles*/
html {
  /*1rem = 10px*/
  font-size: 62.5%;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;

  /*one col flex on mobile and tablet*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);

  /*default font family*/
  font-family: var(--font-family);

  background-color: var(--color-white);
}

/*fit images*/
img {
  object-fit: contain;

  width: 100%;
  height: auto;

  border-radius: inherit;
}

/*reset list*/
ul {
  list-style: none;
}

/*reset button*/
button {
  background: none;

  border: none;

  cursor: pointer;
}

/*no default text decoration on anchors*/
a {
  text-decoration: none;
}

/*no divider on mobile*/
hr {
  display: none;
  border: none;
}

/*Application Header/////////////////////////////////////////////*/
.application-header {
  /*on mobile width is 327.5px*/
  width: var(--header-max-width);

  /*one row flex on mobile - logo and card-and-profile*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*center horizontally*/
  margin: 0 auto;

  /*give it some space*/
  margin-top: var(--spacing-300);
}

.logo {
  /*on mobile width is 169.5px*/
  width: var(--logo-max-width);

  /*contains open menu button and application-logo-container - 1 row flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-100);
}

.open-menu-button {
  width: var(--open-menu-button-width);
}

.application-logo-container {
  width: var(--application-logo-width);
}

.cart-and-profile {
  width: var(--cart-and-profile-max-width);

  /*1 row flex - contains cart button and application avatar container*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-button {
  width: var(--cart-button-width);
}

.application-avatar-container {
  width: var(--application-avatar-width);
}

/*do not display the header navigation inside the header on mobile devices and tablets*/
.header-navigation {
  display: none;
}

/*/////////////////////////////////////////////////////////////*/

/*Main Content of the Application ///////////////////////////*/
main {
  /*size*/
  width: var(--main-max-width);

  /*on mobile one col flex*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);

  /*center*/
  margin: 0 auto;
}

/*Product Images Section ///////////////////////////////////////*/
.product-images {
  /*position relative to place buttons*/
  position: relative;
}

.navigation-arrows {
  /*position absolute*/
  position: absolute;
  /*center*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  /*width 343px on mobile*/
  width: var(--navigation-arrows-container-max-width);

  /*1 row flex space between*/
  display: flex;
  justify-content: space-between;
}

/*common styles for navigation arrow buttons*/
/*button*/
.navigation-arrows button {
  width: var(--navigation-arrow-size);
  height: var(--navigation-arrow-size);

  /*center the icon*/
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-white);

  border-radius: 999px;
}

/*icon container*/
.navigation-arrows button > span {
  width: clamp(5.71px, 1.52vw, 11.89px);

  border-radius: inherit;
}

.images-list {
  position: relative;
  overflow: hidden;
}

.images-list--showcase {
  /*size*/
  height: var(--product-image-height);
}

.product-image-container {
  position: absolute;
  top: 0;
}

.product-image {
  /*size*/
  width: var(--product-image-width);
  height: var(--product-image-height);

  object-fit: cover;
}

.desktop-product-showcase {
  /*displays only on the desktop*/
  display: none;
}

/*Product Details Article //////////////////////////////////////*/
.product-details {
  /*size*/
  width: var(--product-details-max-width);

  /*One col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*gap 32px on mobile*/
  gap: var(--spacing-400);

  /*horizontally center*/
  margin: 0 auto;
}

.product-info {
  /*1 col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.product-info header {
  /*1 col flex on mobile*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.price-section {
  /*1row flex space between*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-and-discount {
  width: var(--price-and-discount-max-width);

  /*1row flex space between*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-badge {
  width: var(--discount-badge-width);

  /*center the child p*/
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--spacing-100);

  border-radius: var(--radius-75);

  background-color: black;
}

.add-to-cart-form {
  /*one col flex*/
  display: flex;
  flex-direction: column;
  /*16px gap on mobile*/
  gap: var(--spacing-200);
}

.quantity-selector {
  position: relative;

  /*padding 16px on mobile*/
  padding: var(--spacing-200);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-button {
  width: var(--quantity-button-width);
}

.quantity-input {
  position: absolute;
  left: 0;
  top: 0;

  /*hide move out the flow*/
  height: 0;
  width: 0;

  opacity: 0;
}

.submit-button {
  /*center the content*/
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-125);

  /*16px 56px padding*/
  padding: var(--spacing-200) var(--spacing-700);

  /*mobile bottom gap*/
  margin-bottom: var(--spacing-300);

  background-color: var(--color-orange-500);
}

.sumbit-button-content-container {
  width: var(--submit-button-content-container-max-width);

  /*1 row flex*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-button-icon-container {
  width: var(--cart-icon-width);
}

/*/////////////////////////////////////////////////////////////*/

/*aside menu and the background filter - on mobile and tablets //////////////////////////*/
.aside-menu {
  /*fixed on the left side of the screen*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;

  /*size - width animated using css variables*/
  width: 0;
  height: 100%;

  /*contains close menu button and navigation*/
  display: flex;
  flex-direction: column;
  /*56px gap on mobile*/
  gap: var(--spacing-700);

  /*24px padding on mobile - padding animated using css variables*/
  padding: 0;

  overflow: hidden;

  background-color: var(--color-white);

  transition: all 0.6s ease-out;
}

.close-menu-button {
  /*size*/
  width: 1.34rem;
}

.navigation {
  /*size*/
  width: 9.4rem;
}

.navigation-list {
  /*1 col flex*/
  display: flex;
  flex-direction: column;
  /*24px gap on mobile*/
  gap: var(--spacing-300);
}

.background-filter {
  /*behind the modal, in front of the app*/
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;

  width: 100%;
  height: 0;

  opacity: 0;

  background-color: var(--color-black);

  transition: all 0.8s ease-out;
}

.background-filter--open {
  height: 100%;

  opacity: 50%;
}

/*/////////////////////////////////////////////////////////////*/

/*typography //////////////////////////////////////////////////*/
/*text preset 3 - Kumbh Sans Bold*/
.discount-badge p,
.price-section del,
.quantity-label,
.sumbit-button-content-container p,
.navigation-item a {
  font-size: var(--text-preset-3-font-size);
  font-weight: var(--text-preset-3-bold-font-weight);
  line-height: var(--text-preset-3-line-height);
  color: var(--color-grey-950);
}

.discount-badge p {
  color: var(--color-white);
}

/*original deprecated price*/
.price-section del {
  color: var(--color-grey-500);
  text-decoration: line-through;
}

/*text preset 2 - Kumbh Sans☺ Bold*/
.product-title,
.discounted-price {
  font-size: var(--text-preset-2-font-size);
  font-weight: var(--text-preset-2-font-weight);
  line-height: var(--text-preset-2-line-height);
  color: var(--color-grey-950);
}

/*text preset 4 - Kumbh Sans Regular*/
.product-description {
  font-size: var(--text-preset-4-font-size);
  line-height: var(--text-preset-4-line-height);
  color: var(--color-grey-500);
}

/*text preset 6 - Kumbh Sans Bold*/
.company-name {
  font-size: var(--text-preset-6-font-size);
  font-weight: var(--text-preset-6-font-weight);
  letter-spacing: var(--text-preset-6-letter-spacing);
  line-height: var(--text-preset-6-line-height);
  color: var(--color-grey-500);
}

/*/////////////////////////////////////////////////////////////*/

/*media queries ///////////////////////////////////////////////*/
@media (min-width: 768px) {
  :root {
    /*update mobile static values with clamp for different tablet sizes*/
    --main-max-width: clamp(60.8rem, 79.16vw, 81.06rem);
    --header-max-width: clamp(60.8rem, 79.16vw, 81.06rem);
    --logo-max-width: clamp(17.05rem, 22.2vw, 22.73rem);
    --cart-and-profile-max-width: clamp(11.98rem, 15.6vw, 15.97rem);
    --navigation-arrows-container-max-width: clamp(58.3rem, 75.91vw, 77.73rem);
    --product-details-max-width: clamp(60.8rem, 79.16vw, 81.06rem);
    --price-and-discount-max-width: clamp(17.3rem, 22.52vw, 23.06rem);
    --submit-button-content-container-max-width: clamp(
      12.08rem,
      15.73vw,
      16.17rem
    );

    --product-image-height: clamp(29rem, 37.7vw, 38.66rem);
    --product-image-width: clamp(60.8rem, 79.16vw, 81.06rem);

    --aside-menu-width: clamp(30.1rem, 39.39vw, 40.13rem);
    /*80px 48px padding on tablets*/
    --aside-menu-padding: var(--spacing-600) var(--spacing-1000);
  }

  body {
    /*increase to gap to 32px*/
    gap: var(--spacing-400);
  }

  main {
    /*48px gap between the divider and the main on tablets. 32px gap from body flex - 16px margin top*/
    margin-top: var(--spacing-200);
  }

  hr {
    width: var(--main-max-width);

    display: flex;
    border: 1px solid var(--color-grey-100);

    margin: 0 auto;
  }

  .product-details,
  .product-info,
  .product-info header,
  .logo {
    /*24px gap on tablets*/
    gap: var(--spacing-300);
  }

  /*update to text preset 5 from text preset 6*/
  .company-name {
    /*text preset 5 - Kumbh Sans Bold*/
    font-size: var(--text-preset-5-font-size);
    font-weight: var(--text-preset-5-font-weight);
    letter-spacing: var(--text-preset-5-letter-spacing);
    line-height: var(--text-preset-5-line-height);
  }

  /*update to text preset 1 from text preset 2*/
  .product-title {
    /*text preset 1 - Kumbh Sans Bold*/
    font-size: var(--text-preset-1-font-size);
    font-weight: var(--text-preset-1-font-weight);
    line-height: var(--text-preset-1-line-height);
  }

  /*update to text preset 3 regular from text preset 4*/
  .product-description {
    /*text preset 3 - Kumbh Sans Regular*/
    font-size: var(--text-preset-3-font-size);
    line-height: var(--text-preset-3-line-height);
  }

  .price-section {
    /*flex direction column on mobile */
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .add-to-cart-form {
    /*flex direction row on tablets*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*8px gap on mobile*/
    gap: var(--spacing-100);
  }

  .quantity-selector {
    /*quantity selector size*/
    width: clamp(29.8rem, 38.8vw, 39.73rem);
    max-width: 39.73rem;
  }

  .submit-button {
    /*submit button size*/
    width: clamp(30.155rem, 39.26vw, 40.2rem);

    /*remove margin bottom*/
    margin-bottom: var(--spacing-0);
  }
}

@media (min-width: 1440px) {
  :root {
    /*update the responsive variables for the desktop design*/
    --header-max-width: clamp(110rem, 77.08vw, 197.3rem);
    --logo-max-width: clamp(58.95rem, 40.93vw, 104.8rem);
    --cart-and-profile-max-width: clamp(11.8rem, 8.19vw, 20.97rem);

    --main-max-width: clamp(110rem, 77.08vw, 197.3rem);
    --product-details-max-width: clamp(44.5rem, 30.9vw, 79.11rem);
  }

  .application-header {
    /*increase the space*/
    margin-top: var(--spacing-600);
  }

  /*hide open menu button*/
  .open-menu-button {
    display: none;
  }

  .header-navigation {
    /*header navigation size*/
    width: clamp(39.6rem, 27.5vw, 69.86rem);

    /*display the header navigation*/
    display: flex;
  }

  .navigation-list {
    width: 100%;

    display: flex;
    /*row flex direction on desktop*/
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*from text preset 3*/
  .navigation-item a {
    /*text preset 4 - Kumbh Sans Regular*/
    font-size: var(--text-preset-4-font-size);
    line-height: var(--text-preset-4-line-height);
    color: var(--color-grey-500);
  }

  main {
    /*96px gap between the divider and the main on desktop. 32px gap from body flex - 64px margin top*/
    margin-top: var(--spacing-800);

    /*flex direction row on desktop*/
    flex-direction: row;
    align-items: center;
    /*128px gap on desktops*/
    gap: var(--spacing-1600);
  }

  .product-images {
    /*stop displaying it for the desktop*/
    display: none;
  }

  .desktop-product-showcase {
    /*size*/
    width: clamp(44.8rem, 31.11vw, 79.64rem);

    /*1 col flex*/
    display: flex;
    flex-direction: column;
    /*32px gap on desktop*/
    gap: var(--spacing-400);
  }

  .desktop-product-image {
    /*size*/
    width: clamp(44.8rem, 31.11vw, 79.64rem);
    height: clamp(44.5rem, 30.9vw, 79.11rem);

    border-radius: var(--radius-187-5);
  }

  .thumbnails-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: var(--spacing-400);
  }

  .product-thumbnail {
    /*size*/
    width: clamp(8.8rem, 6.11vw, 15.64rem);

    display: flex;

    border-radius: var(--radius-125);
  }

  .product-thumbnail-link {
    display: flex;

    border-radius: inherit;
  }

  .product-details {
    /*size*/
    width: clamp(44.5rem, 30.9vw, 79.11rem);
    height: clamp(43.2rem, 30vw, 76.8rem);
  }

  .product-info {
    /*32px gap on desktop between the header and the description*/
    gap: var(--spacing-400);
  }

  .aside-menu {
    /*stop displaying on the desktop*/
    display: none;
  }
}

/*//////////////////////////////////////////////////////////////*/

/*utility classes ///////////////////////////////////////////////*/
.hidden {
  display: none;
}

.product-image-container--prev {
  /*left side of the screen - invisible*/
  left: -200%;
}

.product-image-container--curr {
  /*visible - full screen width - center*/
  left: 50%;
  transform: translateX(-50%);
}

.product-image-container--next {
  /*right side of the screen - invisible*/
  left: 200%;
}

.aside-menu--open {
  width: var(--aside-menu-width);
  padding: var(--aside-menu-padding);
}

/*/////////////////////////////////////////////////////////////*/
